#!/bin/sh

#functiosn
function cd {
    builtin cd "$@"
    pwd > ~/.zsh/lastdir
}

if [ -f ~/.zsh/lastdir ]
    then cd "$(cat ~/.zsh/lastdir)"
fi

swap(){
    mv "$1" "$1.swp"; mv "$2" "$1"; mv "$1.swp" "$2"
}


j(){
    fuzz=$(fdfind -t d . $HOME /etc/ /var/log/ /var/www/ /opt/ | fzf --reverse --height 20)
    if [ -z $fuzz ]
    then 
        return 0
    elif [ -d $fuzz ]
    then
        cd "$fuzz" && reset 
    fi
}

o(){
    fuzz=$(rg --files ~/ | fzf --reverse --height 20%)
    if [ -z $fuzz ]
    then 
        return 0
    elif [ -f $fuzz ]
    then
        echo "$fuzz" | xargs -o vim && echo "done"
    fi
}


ngenable(){
    sudo ln -s /etc/nginx/sites-available/"$1" /etc/nginx/sites-enabled/"$1"
}

ngdisable(){
    sudo rm /etc/nginx/sites-enabled/"$1"
}

ngedit(){
        fuzz=$(surf -p /etc/nginx/ | fzf --reverse --height 40%)
        [ -f $fuzz ] || return 0
        sudo vim "$fuzz"
}

# aliases

alias fzf="fzf --layout=reverse --height=20%"
alias cp="cp -i"                          # confirm before overwriting something
alias vi="vim"
alias df='df -h'                          # human-readable sizes
alias update="sudo apt update && sudo apt upgrade"
alias get="sudo apt install"
alias search="sudo apt serach"
alias kick="sudo apt remove && sudo apt autoremove"
alias mv="mv -v"
alias wget="wget -U Mozilla/5.0 -c"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias sudo='sudo '
alias restart="sudo systemctl restart"
alias status="sudo systemctl status"
alias al="vim ~/.aliases && clear && source ~/.zshrc"
alias dd='dd status=progress'
alias python="python3"
alias copy="xclip -sel c < $1"
alias v="vim ~/.vim/vimrc"
alias z="vim ~/.zshrc && exec ${SHELL} && clear"
alias aports="sudo vim /etc/apache2/ports.conf"
alias ng="sudo vim /etc/nginx/sites-available/"
alias ap="sudo vim /etc/apache2/sites-available"
alias ls="eza"
alias la="eza -a"
alias ll="eza -lga"
alias stop="sudo systemctl stop"
alias start="sudo systemctl start"
alias restart="sudo systemctl restart"
alias ngt="sudo nginx -t"
alias ngr="sudo systemctl restart nginx"
alias apc="sudo apachectl configtest";
alias dcd="docker-compose down"
alias dcu="docker-compose up -d"
alias reload="exec ${SHELL} && clear"
alias gst='git status'
alias eza="ls"
alias dcu="docker-compose up -d"
alias dcd="docker-compose down"
alias dcr="docker-compose restart"
alias pc="sudo netstat -tulnp | grep $1"
alias crontab="export EDITOR=vim;crontab"
alias ga="git add -u"
alias venv="source $VIRTUAL_ENV/bin/activate"
